/** biome-ignore-all lint/suspicious/noUnknownAtRules: allow tailwind @rules */
@import "tailwindcss";

/* Base color setup */
@theme {
  --color-primary: #2563eb;
  --color-primary-hover: #2563eb;
  --color-secondary: #ef4444;
  --color-secondary-hover: #ef4444;
  --color-tertiary: #f59e0b;
  --color-tertiary-hover: #f59e0b;

  /* very light grey */
  --color-foreground: #f1f5f9;
  /* very dark grey */
  --color-background: #1e293b;
  --color-background-hover: #385078;
  /* light grey */
  --color-muted: #94a3b8;
  --color-border: #334155;

  /* gradient colors */
  --color-start: #5c8fd6;
  --color-middle: #3b82f6;
  --color-end: #1e3a8a;
}

/* Base styles */
@layer base {
  * {
    @apply border-border bg-transparent text-foreground;
  }
}
